* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.details-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.map-container {
    width: 60%;
    height: 100%;
    border-right: solid 1px black;
}

.histogram-container, .parallel-container {
    height: 50%;
    padding: 24px;
}

.histogram-container {
    border-bottom: solid 1px black;
}
